*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Ubuntu",sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.navbar{
  position: fixed;
  background-color: transparent;
  width: 100%;
  padding: 20px 0;
  top: 0;
  z-index: 999;
  transition: .3s linear;
}


.inner-width{
  max-width: 1500px;
  margin: auto;
  padding: 0 60px;
}

.navbar .inner-width{
  display: flex;
  align-items: center;
  justify-content: space-between;
}



.menu-toggler{
  background: none;
  width: 30px;
  border: none;
  cursor: pointer;
  position: relative;
  outline: none;
  z-index: 999;
  display: none;
}

.menu-toggler h6{
  display: block;
  height: 3px;
  background-color: #fff;
  margin: 6px 0;
  position: relative;
  transition: .3s linear;
}

.navbar-menu a{
  color: #D3D3D3;
  font-size: 17px;
  font-weight: 500;
  margin-left: 30px;
  transition: .5s linear;
}

.navbar-menu a:hover{
  color: 859593 !important;
}

.sticky{
  padding: 13px 0;
}

.sticky .logo{
  background-image: url("images/F.png");
}

.sticky .navbar-menu a{
  color: rgba(115, 128, 126, 0.9);
}

.sticky .menu-toggler a{
  background-color: #111;
}



#home .inner-width{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

#home .content{
  width: 100%;
  color: #fff;
}

#home .content h1{
  font-size: 40px;
  margin-bottom: 10px;
}

#home .content h1::after{
  color: rgba(255,255,255,0.7);
  content: "PLAYERS LOOKUP";
  animation: textanim 8s linear infinite;
}

@keyframes textanim{
  25%{
    content: "WORKING 24/7";
  }
  50%{
    content: "FAST SUPPORT";
  }
}

.sm a{
  color: #fff;
  font-size: 22px;
  margin: 0 10px;
  transition: .2s linear;
}

.sm a:hover{
  color: #48dbfb;
}



@media screen and (max-width: 950px){
  .menu-toggler{
    display: block;
  }

  .navbar-menu{
    color: rgba(0, 0, 0, 0.5);
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: #353b48;
    top: 0;
    right: -100%;
    max-width: 400px;
    padding: 80px 50px;
    transition: .3s linear;
  }

  .navbar-menu a{
    display: block;
    font-size: 30px;
    margin: 30px 0;
  }

  .sticky .navbar-menu{
    background-color: #f1f1f1;
  }

  .navbar-menu.active{
    right: 1;
  }

  .menu-toggler.active h6:nth-child(1){
    transform: rotate(-45deg);
    top: 4px;
  }

  .menu-toggler.active h6:nth-child(2){
    color: rgba(0, 0, 0, 0.5);
    opacity: 0;
  }

  .menu-toggler.active h6:nth-child(3){
    color: rgba(0, 0, 0, 0.5);
    transform: rotate(45deg);
    bottom: 14px;
  }
}




hr.rounded {
  border-top: 8px solid #eee;
  border-radius: 5px;
}


.discord{

  width: 300px;
  text-align: center;
  border-radius: 20px;
  overflow: hidden;
  display: inline-flex;
}

.card-header{
  background: rgba(20,24,28,0.9);
  padding: 60px 40px;
}

.pic{
  display: inline-block;
  padding: 8px;

  margin: auto;
  border-radius: 50%;
  background-size: 200% 200%;
  animation: animated-gradient 5s linear infinite;

  background: linear-gradient(-45deg, #cfc5bc, #776a5e);
	background-size: 200% 200%;
	animation: gradient 5s ease infinite;
}

@keyframes animated-gradient{
  25%{
    background-position: left bottom;
  }
  50%{
    background-position: right bottom;
  }
  75%{
    background-position: right top;
  }
  100%{
    background-position: left top;
  }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.pic img{
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name{
  color: #f2f2f2;
  font-size: 28px;
  font-weight: 600;
  margin: 10px 0;
}

.desc{
  font-size: 18px;
  color: #40B9A8;
}

.sm{
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.sm a{
  color: #f2f2f2;
  width: 90px;
  font-size: 32px;
  transition: .3s linear;
}

.sm a:hover{
  color: #5BBBB3;
}

.contact-btn{
  display: inline-block;
  padding: 12px 50px;
  color: #e66767;
  border: 2px solid #e66767;
  border-radius: 6px;
  margin-top: 16px;
  transition: .3s linear;
}


##########


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url(../images/tlo2.jpg) no-repeat center;


  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


.main-container {
  padding: 30px;
}

/* HEADING */

.heading {
  text-align: center;
}

.heading__title {
  font-weight: 600;
}

.heading__credits {
  margin: 10px 0px;
  color: #888888;
  font-size: 25px;
  transition: all 0.5s;
}

.heading__link {
  text-decoration: none;
}

.heading__credits .heading__link {
  color: inherit;
}

/* CARDS */

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.karta {
  margin: 20px;
  padding: 20px;
  width: 500px;
  min-height: 200px;
  display: grid;
  grid-template-rows: 20px 50px 1fr 50px;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
}

.card:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
}

.card__link,
.card__exit,
.card__icon {
  position: relative;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
}

.card__link::after {
  position: absolute;
  top: 25px;
  left: 0;
  content: "";
  width: 0%;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.6);
  transition: all 0.5s;
}

.card__link:hover::after {
  width: 100%;
}

.card__exit {
  grid-row: 1/2;
  justify-self: end;
}

.card__icon {
  grid-row: 2/3;
  font-size: 40px;
}

.card__title {
  grid-row: 3/4;
  font-weight: 400;
  color: #ffffff;
}

.card__apply {
  grid-row: 4/5;
  align-self: center;
}

/* CARD BACKGROUNDS */

.card-1 {
  background: radial-gradient(#34939D, #41BFC1);
}

.card-2 {
  background: radial-gradient(#277381, #1C4147);
}

.card-3 {
  background: radial-gradient(#21323E, #16242D);
}

.card-4 {
  background: radial-gradient(#60efbc, #58d5c9);
}

.card-5 {
  background: radial-gradient(#f588d8, #c0a3e5);
}

/* RESPONSIVE */

@media (max-width: 1600px) {
  .cards {
    justify-content: center;
  }
}


.center {
  display: block;


  border: 8px solid #62d1c6;
  border-image: linear-gradient(45deg, rgb(0,143,104), rgb(19, 35, 44)) 1;


}


li {
  display: table;
  margin: 0 auto;
}

i {
  margin-right: 15px;
}


.bg-text {
  max-width: 1000px;
  margin:0 auto;

  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(56,47,48,0.6); /* Black w/opacity/see-through */
  color: rgba(255,255,255, 0.7);
  font-weight: bold;
  border: 5px solid rgba(47,55,73,0.6);

  border-radius: 25px;

  z-index: 2;
  padding: 20px;
  text-align: center;
}


p {
  text-align: center;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.list-group{
    list-style: none;

}
.list-group-item{
    list-style: none;

    border-width: 0px;
}


### TABLE

h1{
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}
table{
  width:100%;
  table-layout: fixed;
}
.tbl-header{
  background-color: rgba(27,34,42,0.7);
 }
.tbl-content{
  height:540px;
  overflow-x:auto;
  margin-top: 0px;
  border: 10px solid rgba(46,58,72,0);
}
th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
}
td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 15px;
  color: #fff;
  border-bottom: solid 1px rgba(13,22,23,0.1);
}

tbody{
  background-color: rgba(46,58,72,0.4);
}






/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(13,22,23,0.3);
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(13,22,23,0.9);
}

### BUTTONS

.wrapper-buttons {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
}

.wrapper-buttons > * {
  margin-bottom: 10px;
}

.wrapper-buttons > *:first-child {
  margin-top: 10px;
}

.wrapper-buttons > *:last-child {
  margin-bottom: 0px;
}

.white-button,

.blue-button {
  display: inline-block;
  font-family: Whitney, "Open Sans", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 11pt;
  border-radius: 3px;
  cursor: pointer;
  height: 45px;
  width: 220px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
}

.blue-button {
  background-color: #7289da;
  border: 2px solid #7289da;
  color: #fff;
}


.gray-button {
  display: inline-block;
  font-family: Whitney, "Open Sans", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 11pt;
  border-radius: 3px;
  cursor: pointer;
  height: 45px;
  width: 200px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  background-color: #7289da;
  border: 10px solid #7289da;
  color: #fff;
}


.white-button {
  background-color: #fff;
  border: 2px solid #fff;
  color: #000;
}

.wrapper-nitro-buttons {
  margin: 0 auto !important;
  width: 60%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
}

.black-nitro-button,
.green-nitro-button {
  display: inline-block;
  font-family: Whitney, "Open Sans", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 11pt;
  border-radius: 3px;
  cursor: pointer;
  height: 45px;
  width: 200px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
}

.green-nitro-button {
  background-color: #43b581;
  border: 2px solid #43b581;
  color: #fff;
}

.black-nitro-button {
  background-color: #090909;
  border: 2px solid #090909;
  color: #fff;
}

.discount {
  display: inline;
  border: 1px solid hsla(0, 0%, 100%, 0.3);
  color: hsla(0, 0%, 100%, 0.75);
  border-radius: 3px;
  font-size: 12px;
  font-weight: 400;
  margin-left: 3px;
  padding: 3px;
  width: 50px;
}

.blue-button:hover,
.gray-button:hover,
.white-button:hover,
.black-nitro-button:hover,
.green-nitro-button:hover {
  transform: translateY(3px);
}

.blue-button:active,
.white-button:active,
.gray-button:active,
.black-nitro-button:active,
.green-nitro-button:active {
  transform: translateY(2px);
}

.blue-button,
.gray-button,
.white-button,
.black-nitro-button,
.green-nitro-button {
  outline: transparent !important;
}
